body{
    background-color: var(--color-PrimarioOscuro);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }



/* Contenedores */


.contQbo1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(2,0,36,0) 0%, rgba(0,0,0,1) 100%), url('../img/f1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    user-select: none; /* Evita la selección de texto */
    -webkit-user-select: none; /* Para Safari */
    -moz-user-select: none; /* Para Firefox */
    -ms-user-select: none; /* Para Internet Explorer */
}

.contQbo1 h2 {
    font-family: 'VarsityTeam', sans-serif;
    font-size: 3rem;
    color: white;
}

.contQbo1 p {
    font-size: 1.2rem;
    color: white;
    font-style: italic;
}




/* Distribución principal */
.divisiones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contenedor-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    gap: 40px
}

.link_precio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}


.precio-modelo {
    font-size: 18px;
    color: #e0d19c;
    margin: 0;
}


/* Tabla */
.cont_tabla {
    font-family: 'VarsityTeam', sans-serif;
    text-align: center;
    width: 600px;
 
}

.cont_tabla h2 {
    font-size: 2em;
    color: #e0d19c;
    margin-bottom: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.table-responsive {
    display: flex;
    justify-content: center;
}

table {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    background-color: #2b0220;
    border: 1px solid #4d0d3b;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

th, td {
    letter-spacing: 1px;
    user-select: none;
    padding: 18px;
    font-size: 1.3em;
    color: #e0d19c;
    border-bottom: 1px solid #4d0d3b;
    transition: background-color 0.3s ease, color 0.3s ease;
}

th {
    background-color: #4d0d3b;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-bottom: 2px solid #e0d19c;
}

td.titulo_td {
    font-weight: bold;
    background-color: #381630;
}

tr:hover td {
    background-color: #4d0d3b;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

table tr:last-child td {
    border-bottom: none;
}

/* Carrusel */
.cont_carruInfo,
.cont_ModeloTabla {
    display: flex;
    flex-direction: column;
}
.con_carru{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carru_cont_producto {
    aspect-ratio: 1 / 1;
    width: 100%;
    max-width: 500px;
    border: 3px solid #e0d19c;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carru_cont_img {
    width: 450px;
    height: 450px;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Títulos */
.divisiones h1 h2 {
    align-items: flex-start;
}

h1, h2 {
    font-family: 'VarsityTeam';
    src: url('../font/VarsityTeam-Bold.otf') format('opentype');
    color: var(--color-SecundarioOscuro);
    text-transform: uppercase;
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
}


/* Modelo y botón debajo del carrusel */
.cont_ModeloTabla {
    margin-top: 20px;
    width: 100%;
}

.modelos-producto .modelo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.modelos-producto .modelo .info-modelo {
    display: flex;
    flex-direction: column;
}

.nombre-modelo {
    font-size: 30px;
    color: var(--color-SecundarioOscuro);
    margin: 0 0 5px;
}


.btn-tienda {
    background-color: var(--color-SecundarioOscuro);
    color: #000000;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-tienda:hover {
    background-color: var(--color-SecundarioOscuro);
}


